.user{
    padding:7px;
}
.navbarHighlight a:hover{
    color:  rgb(245, 96, 15);
    cursor: pointer;
    text-decoration: none;
}
.title:hover{
    color:  rgb(229, 84, 6);
}
.logo{
    /* border: 2px solid rgb(245, 96, 15);
    border-radius: 50%; */
}